--- 
layout: default 
---



<div class="container notfound">
  <h1>404</h1>

  <p>
    <strong>Page not found :(</strong>
  </p>
  <p>The requested page could not be found or Under Construction.</p>
  <!--<p>Visit our <a href="{{site.baseurl}}/">Home page</a> </p> -->
</div>


<!-- SECTION -->
<div class="section">
  <!-- CONTAINER -->
  <div class="container">
    <!-- ROW -->
    <div class="row">
      <!-- Main Column -->
      <div class="col-md-12">
        <!-- section title -->
        <div class="section-title">
          <h2 class="title">More Stories</h2>
          <div id="nav-carousel-2" class="custom-owl-nav pull-right"></div>
        </div>
        <!-- /section title -->

        
      </div>
      <!-- /Main Column -->
    </div>
    <!-- /ROW -->
  </div>
  <!-- /CONTAINER -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- CONTAINER -->
  <div class="container">
    <!-- ROW -->
    <div class="row">
      <!-- Main Column -->
      <div class="col-md-8">
        <!-- section title 
					<div class="section-title">
						<h2 class="title">Popular Posts</h2>
					</div>
					/section title -->

        {% for post in site.posts limit: 15 %} 
        {% include index_paginator.html article = post %} 
        {% endfor %}
      </div>
      <!-- /Main Column -->

      <!-- Aside Column -->
      <div class="col-md-4">
        <!-- article widget -->
        <div class="widget">
          <div class="widget-title">
            <h2 class="title">Featured Posts</h2>
          </div>

          <!-- owl carousel 4 -->
          <div id="owl-carousel-4" class="owl-carousel owl-theme">
            {% for post in site.posts limit:3 %} 
            {% if post.url != page.url%} 
            {% include article_right.html %} 
            {% endif %} 
            {% endfor %}
          </div>
          <!-- /owl carousel 4 -->
        </div>
        <!-- /article widget -->


      </div>
      <!-- /Aside Column -->
    </div>
    <!-- /ROW -->
  </div>
  <!-- /CONTAINER -->
</div>
<!-- /SECTION -->