<!-- ARTICLE -->
<article class="article row-article">
        <div class="article-img">
            <a href="#">
                <img src="{{ include.article.imageurl }}" alt="">
            </a>
        </div>
        <div class="article-body">
            <ul class="article-info">
                <li class="article-category">
                    <a href="#">News</a>
                </li>
                <li class="article-type">
                    <i class="fa fa-file-text"></i>
                </li>
            </ul>
            <h3 class="article-title article-font">
                <a href="#">{{ include.article.title }}</a>
            </h3>
            <ul class="article-meta">
                <li>
                    <i class="fa fa-clock-o"></i> {{ include.article.date | date: " %b %-d, %Y" }}</li>
                    <li>
                            <i class="fa fa-user"></i> {{ include.article.author }}</li>
            </ul>
            <p>{{ include.article.description }}</p>
        </div>
    </article>
    <!-- /ARTICLE -->