	<div class="widget social-widget">
		<div class="widget-title">
			<h2 class="title">Stay Connected</h2>
		</div>
		<ul>
			<li><a href="https://www.facebook.com/fosscrunch/" class="facebook"><i class="fa fa-facebook"></i><br><span>Facebook</span></a></li>
			<li><a href="https://twitter.com/foss_crunch" class="twitter"><i class="fa fa-twitter"></i><br><span>Twitter</span></a></li>
			<li><a href="https://plus.google.com/communities/115601814492768606383/" class="google"><i class="fa fa-google"></i><br><span>Google+</span></a></li>
			<li><a href="https://www.instagram.com/fosscrunch/" class="instagram"><i class="fa fa-instagram"></i><br><span>Instagram</span></a></li>
			<li><a href="#" class="youtube"><i class="fa fa-youtube"></i><br><span>Youtube</span></a></li>
			<li><a href="{{ site.baseurl }}/feed.xml" class="rss"><i class="fa fa-rss"></i><br><span>RSS</span></a></li>
		</ul>
	</div>


