---
layout: default
---

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-8">

				<!-- breadcrumb -->
				<ul class="article-breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">{{ page.category }}</a></li>
				</ul>
				<!-- /breadcrumb -->

				<!-- ARTICLE POST -->
				<article class="article article-post">
					<div class="article-share">
						<a href="https://www.facebook.com/sharer.php?u=https://fosscrunch.com{{ page.url }}" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/intent/tweet?text={{ page.title }} &url=https://fosscrunch.com{{ page.url }}&via=fosscrunchoff" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://plus.google.com/share?url=https://fosscrunch.com{{ page.url }}" class="google"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="article-main-img artimg">
						<img src="{{ page.imageurl }}" alt="{{page.tags | join: ', '}}">
					</div>
					<div class="article-body">
						<ul class="article-info">
							<li class="article-category" style="background: {% if page.category == "Technology" %}#E31010{% elsif page.category == "Linux" %}#7B27C9{% elsif page.category == "Science" %}#02bb18{% elsif page.category == "Explainer" %}#31a1ff{% elsif page.category == "How_To" %}#C90861{% elsif page.category == "News" %}#3F73C7{% endif %}; ">
								<a href="{{ site.baseurl }}/category{{page.category | downcase }}/">{{ page.category}}</a>
							</li>
							<li class="article-type"><i class="fa fa-file-text"></i></li>
						</ul>
						<h1 class="	article-title" style="font-weight: 700">{{ page.title }}</h1>
						<ul class="article-meta">
								<li>{{ page.author }} - {{ page.date | date: " %b %-d, %Y" }}</li>
						</ul>
						<div style="font-size: 18px;">

							{{ content }}

						</div>

					</div>
				</article>
				<!-- /ARTICLE POST -->

				<!-- widget tags -->
				<!--<div class="widget-tags">
					<ul>
						<li><a href="#">News</a></li>
						<li><a href="#">Technology</a></li>
						<li><a href="#">Science</a></li>
						<li><a href="#">Linux</a></li>
						<li><a href="#">How To</a></li>
					</ul>
				</div>-->	
				<!-- /widget tags -->

			</div>
			<!-- /Main Column -->

			<!-- Aside Column -->
			{% include aside_column.html postcount = "5" %}
			<!-- /Aside Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->

<!-- AD SECTION -->
<div class="visible-lg visible-md">
	<img class="center-block" src="{{ site.baseurl }}/assets/img/ad-3.jpg" alt="">
</div>
<!-- /AD SECTION -->
<!-- add laterrelated-->