---
layout: default
---

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-8">

				<!-- breadcrumb -->
				<ul class="article-breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">{{ page.category }}</a></li>
				</ul>
				<!-- /breadcrumb -->

				<!-- ARTICLE POST -->
				<article class="article article-post">
					<div class="article-share">
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="article-main-img">
						<img src="{{ page.imageurl }}" alt="">
					</div>
					<div class="article-body">
						<ul class="article-info">
							<li class="article-category"><a href="#">{{ page.category }}</a></li>
							<li class="article-type"><i class="fa fa-file-text"></i></li>
						</ul>
						<h1 class="	article-title" style="font-weight: 700">{{ page.title }}</h1>
						<ul class="article-meta">
							<li><i class="fa fa-clock-o"></i>{{ page.date | date: " %b %-d, %Y" }}</li>
							<li><i class="fa fa-user"></i> {{ page.author }}</li>
						</ul>
						<div style="font-size: 18px;">

							{{ content }}

						</div>

					</div>
				</article>
				<!-- /ARTICLE POST -->

				<!-- widget tags -->
				<div class="widget-tags">
					<ul>
						<li><a href="#">News</a></li>
						<li><a href="#">Technology</a></li>
						<li><a href="#">Science</a></li>
						<li><a href="#">Linux</a></li>
						<li><a href="#">How To</a></li>
					</ul>
				</div>
				<!-- /widget tags -->

			</div>
			<!-- /Main Column -->

			<!-- Aside Column -->
			{% include aside_column.html postcount = "5" %}
			<!-- /Aside Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->

<!-- AD SECTION -->
<div class="visible-lg visible-md">
	<img class="center-block" src="{{ site.baseurl }}/assets/img/ad-3.jpg" alt="">
</div>
<!-- /AD SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-12">
				<!-- section title -->
				<div class="section-title">
					<h2 class="title">Related Post</h2>
				</div>
				<!-- /section title -->

				<!-- row -->
				<div class="row">


					{% assign maxRelated = 4 %}
					{% assign minCommonTags =  1 %}
					{% assign maxRelatedCounter = 0 %}

					{% for post in site.posts %}

					{% assign sameTagCount = 0 %}
					{% assign commonTags = '' %}

					{% for tag in post.tags %}
					{% if post.url != page.url %}
					{% if page.tags contains tag %}
					{% assign sameTagCount = sameTagCount | plus: 1 %}
					{% endif %}
					{% endif %}
					{% endfor %}

					{% if sameTagCount >= minCommonTags %}
					{% include article_related.html relatedpost = post %}

					{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
					{% if maxRelatedCounter >= maxRelated %}
					{% break %}
					{% endif %}
					{% endif %}

					{% endfor %}


				</div>
				<!-- /row -->
			</div>
			<!-- /Main Column -->
		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
<!-- /SECTION -->