---
layout: default
author: Dhinesh Kumar M
---
<!-- AD SECTION -->
<div class="visible-lg visible-md" style="margin-top: 60px">
	<img class="center-block" src="{{ site.baseurl }}/assets/img/static/ad3.jpg" alt="">
</div>
<!-- /AD SECTION -->

<!-- SECTION -->
<div class="section">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-8">
				<!-- section title -->
				<div class="section-title">
					<h2 class="title">{{page.author}}</h2>
				</div>
				<!-- /section title -->

				{% for post in site.posts %}
				{% if post.author == "Dhinesh Kumar M"%}

				{% include category_article.html article = post %}
				{% endif %}

				{% endfor %}

			</div>
			<!-- /Main Column -->

			<!-- Aside Column -->
			
			<!-- Aside Column -->
					{% include aside_column.html postcount = "5" %}
			<!-- /Aside Column -->


		</div>
		<!-- /ROW -->
	</div>
	<!-- /CONTAINER -->
</div>
			<!-- /SECTION -->